@model FoodSearchModel

@{
    ViewData["Title"] = "Menu";
}

@section styles{

    <style>
        .form-inline {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-flow: row wrap;
            flex-flow: row wrap;
            -ms-flex-align: center;
            align-items: center;
        }
    </style>
}

@{
    var previousPage = Model.CurrentPage - 1;
    if (previousPage < 1)
    {
        previousPage = 1;
    }
    var maxPage = Math.Ceiling((double)Model.TotalFood / FoodSearchModel.EntityPerPage);

}
<form method="get">
    <div class="row">
        <div class="col-md-2 offset-2 mb-3 mt-1">
            <div class="form-group">
                <label asp-for="Category"></label>
                <select asp-for="Category" class="form-control">
                    <option value="">All</option>
                    @foreach (var category in Model.Categories)
                    {
                        <option value="@category">@category</option>
                    }
                </select>

            </div>
        </div>
        <div class="col-md-4  mb-3 mt-1">
            <div class="form-group">
                <label asp-for="SearchTerm"></label>
                <input asp-for="SearchTerm" class="form-control" placeholder="Chicken Burger">
            </div>
        </div>




        <div class="form-group col-md-2 mb-3 mt-1">
            <div class="form-group">
                <label asp-for="Sorting"></label>
                <select asp-for="Sorting" class="form-control">
                    <option value="0" selected>None</option>
                    <option value="1">Price acsending</option>
                    <option value="2">Price descending</option>

                </select>

            </div>
        </div>


        <div class="form-inline">
            <input class="btn btn-primary float-right mt-1" style="height:40px;width:100px" type="submit" value="Search" />
        </div>
    </div>

</form>

<div class="row">
    @foreach (var food in Model.Food)
    {
        <div class="col-md-3">
            <div class="card">
                <img height="200" width="100" class="card-img-top" src="~/img/@food.ImageFileName" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">@food.Name</h5>
                    <h6 class="card-subtitle mb-2 text-muted">@food.Price Leva!</h6>
                    <p class="card-text">@food.Description</p>
                    @if (User.IsInRole(AdminConstants.Administrator))
                    {
                        <a asp-area="Admin" asp-controller="Food" asp-action="Delete" asp-route-id="@food.Id" class="btn btn-danger float-right  ml-3">Delete</a>
                        <a asp-area="Admin" asp-controller="Food" asp-action="Edit" asp-route-id="@food.Id" class="btn btn-warning float-left ml-3">Edit</a>
                    }
                    else
                    {
                        <a asp-controller="Order" asp-action="OrderNow" asp-route-itemId="@food.ItemId" class="btn btn-primary">Order now</a>
                    }
                </div>
            </div>
        </div>
    }

</div>



<div class="row">
    <div class="col-md-6">
        <a class="btn btn-primary  @(Model.CurrentPage == 1 ? "disabled" : "")"
           asp-controller="Food"
           asp-action="All"
           asp-route-currentPage="@previousPage"
           asp-route-category="@Model.Category"
           asp-route-searchTerm="@Model.SearchTerm"
           asp-route-sorting="@((int)Model.Sorting)"><<</a>
    </div>
    <div class="col-md-6">
        <a class="btn btn-primary float-right @(Model.CurrentPage == maxPage ? "disabled" : "")"
           asp-controller="Food"
           asp-action="All"
           asp-route-currentPage="@(Model.CurrentPage + 1)"
           asp-route-category="@Model.Category"
           asp-route-searchTerm="@Model.SearchTerm"
           asp-route-sorting="@((int)Model.Sorting)">>></a>
    </div>
</div>


