
@model OrderListingModel

@{
    ViewData["Title"] = "Cart";
}


@{
    bool flag = true;

    if (Model.InformationModel.Address is null ||
               Model.InformationModel.Name is null ||
               Model.InformationModel.PhoneNumber is null ||
               Model.Items.Count < 1)
    {
        flag = false;
    }
}

<form method="post">
    <div class="row">
        <div class="col-md-4  mt-4">
            <h2 class="heading-margin">Your Information</h2>
            <div class="shadow">
                <ul class="list-group">
                    <li class="list-group-item border-0 text-center"><h5 class="text-left">Name:</h5>@Model.InformationModel.Name</li>
                    <li class="list-group-item border-0 text-center"><h5 class="text-left">Phone:</h5>@Model.InformationModel.PhoneNumber</li>
                    <li class="list-group-item border-0"><h5>Address:</h5></li>
                </ul>
                <textarea class="border-0 mt-1 text-center" readonly cols="47" rows="4">@Model.InformationModel.Address</textarea>
            </div>
            <input asp-controller="Order" asp-action="ChangeInformation" class="btn btn-primary float-left mt-1" type="submit" value="Change Information" />
        </div>
        <div class="col-md-7 offset-1 mt-4">
            <h2 class="heading-margin text-center">Order Details</h2>

            <ul class="list-group shadow">

                @foreach (var item in Model.Items)
                {

                    <li class="list-group-item text-center">
                        <input asp-controller="Order" asp-action="MinusQuantity" asp-route-itemId="@item.Id" asp-route-orderId="@Model.Id" class="btn btn-primary @(item.Quantity <= 1 ? "disabled" : "")" type="submit" value="-" />
                        @item.Name - @item.Quantity - @(item.Price * item.Quantity) leva!
                        <input asp-controller="Order" asp-action="Remove" asp-route-itemId="@item.Id" asp-route-orderId="@Model.Id" class="btn btn-danger float-right offset-sm-1" type="submit" value="Remove" />

                        <input asp-controller="Order" asp-action="PlusQuantity" asp-route-itemId="@item.Id" asp-route-orderId="@Model.Id" class="btn btn-primary float-right" type="submit" value="+" />
                    </li>

                }

                <li class="list-group-item float-left">
                    Price: <h3>@Model.TotalSum leva!</h3>
                    <input asp-controller="Order" asp-action="CompleteOrder" asp-route-orderId="@Model.Id" asp-route-totalSum="@Model.TotalSum" class="btn btn-primary float-right @(flag is false? "disabled" : "")" type="submit" value="Complete order!" />
                </li>
            </ul>


        </div>
    </div>
</form>

